@model ProjetoFinal.SistemaLocadora.Dominio.Filme

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm("Cadastrar", "Filmes", FormMethod.Post, new { @role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Atores)
        @Html.TextBoxFor(model => model.Atores, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Atores)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Diretor)
        @Html.TextBoxFor(model => model.Diretor, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Diretor)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Categoria)
        @Html.DropDownListFor(model => model.Categoria.Id, (SelectList)ViewBag.Categoria, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Categoria)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Imagem)
        <input type="file" name="arquivo" />
        @Html.ValidationMessageFor(model => model.Imagem)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Valor)
        @Html.TextBoxFor(model => model.Valor, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Valor)
    </div>

    <button type="Submit" class="btn btn-default">Cadastrar</button>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
