@model IEnumerable<ProjetoFinal.SistemaLocadora.Dominio.Categoria>

@{
    ViewBag.Title = "CRUD - Categorias";
}

<h2>Listagem categorias (CRUD)</h2>

<p>
    @Html.ActionLink("Nova categoria", "Cadastrar")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |            
            @Html.ActionLink("Deletar", "Deletar", new { id=item.Id })
        </td>
    </tr>
}

</table>
